
// Primary
$Primary: #C9896E;

// Body-bg
$body-bg: #141414;

// Black and White
$FirstBlack: #232323;
$SecondBlack: #464646;
$ThirdBlack: #4B4B4B;
$FourthBlack: #8E8E8E;
$FifthBlack: #868686;
$SixthBlack: #939393;
$SeventhBlack: #B8B8B8;
$white: #FFF;
$SecondWhite: #FAFAFA;

// Gray
$Gray: #CFCFCF;
$Gray2: #8C8C8C;

// Gold
$GoldOne: #C6B550;
$GoldTwo: #C1AC45;

// Bronze
$BronzeOne: #D5AB61;
$BronzeTwo: #D2A45B;

// border
$BorderColor: #ececec;